<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hoop Spots</title>



  </head>
  <body>

    <div class="jumbotron ">
      <h1>Welcome to Hoop Spots! </h1>
      <br>
      <p>This site is intended for basketball players who are looking for a place to play some pick up basketball. Feel free to add
      your own places to hoop.
      </p>
      <p><a class="btn btn-primary btn-lg" href="http://www.nba.com/" role="button">Learn more</a></p>
    </div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="text-center col-xs-12">
      <h1 class="text-center"><i class="glyphicon glyphicon-arrow-down"></i> Places to Hoop <i class="glyphicon glyphicon-arrow-down"></i></h1>
    </div>

      <br><br><br><br><br>
      <% @places.each do |place| %>
        <div class="text-box col-xs-10 col-xs-offset-1">
          <h1><%= link_to place.name, place_path(place) %></h1>
          <br>
          <strong>Address:</strong> <i><%= place.address %></i>
          <br><br>
          <strong>Description:</strong> <%= place.description %>
          <br>
          <br>
          <strong>Additional info:</strong>
          <br>
          Restroom: <%= place.restroom %>
          <br>
          Parking: <%= place.parking %>
          <br>
          Water: <%= place.water %>
          <br>
          <hr>
          <% if place.user.present? %>
            <small><%= place.user.email %></small>
          <% end %>
        </div>
      <% end %>





  </body>
</html>
